



---
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/pass_local?serverTimezone=Asia/Seoul&rewriteBatchedStatements=true
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

---
spring:
  servlet:
    multipart:
      enabled: true
      location: C:\upload
      max-request-size: 30MB
      max-file-size: 10MB
org:
  upload:
    path: C:\upload